{% extends "adminLayout.html.twig" %}

{% block body %}

    <!-- Penser au bouton "Ajouter fiche produit" -->

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Image</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Image</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </tfoot>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.productsId }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.categorie }}</td>
                <td>{{ product.image }}</td>
                <td><a href="#" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-edit" title="Modifier"></span>
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-trash" title="Supprimer"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}