{% extends "adminLayout.html.twig" %}

{% block body %}

<div class="container animated fadeIn">

    <div class="row admin-form">

        <h3 class="h3-admin">Modifier le produit</h3>

        <div>
            <form action="index.php?section=admin&page=updateproducts&id={{ products.productsId }}" class="contact-form" method="post">

                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom du produit" value = "{{ products.name }}"
                    required="">
                </div>

                <div class="form-group form_left">
                    <input type="text" class="form-control" id="description" name="description" placeholder="Description du produit"
                        value ="{{ products.description }}"   required="">
                </div>

                {# Select : la catégorie du produit doit s'afficher en premier mais on doit pouvoir la modifier #}
{#                <select name="categories_categories_id" id="categories_categories_id" class="select-admin">
                    {% for categorie in categories %}
                        <option value="{{ categorie.categoriesId }}">{{ categorie.categories }}</option>
                    {% endfor %}
                </select>#}

                <div class="form-group form_left">
                    <input type="text" class="form-control" id="category" name="category" placeholder="Catégorie du produit : Produit ou Produit de la semaine"
                           value ="{{ products.category }}" required="">
                </div>

                <div class="form-group form_left">
                    <input type="text" class="form-control" id="images_images_id" name="images_images_id" placeholder="Photo du produit" value ="{{ products.url }}"
                           required="">
                </div>

                <br>
                <button class="btn btn-default btn-send"><span class="glyphicon glyphicon-send"></span> Envoyer
                </button>

        </form>
        </div>
    </div>
</div>

{% endblock %}