{% extends "layout.html.twig" %}

{% block body %}

    <!-- /#header -->
    <div id="header">
        <div class="center text-center">
            <div class="banner">
                <h1><img class="logo" src="assets/img/logo/douceur_vegetale_logo.png" alt="logo Douceur Végétale"></h1>
                <img src="assets/img/banners/cupcake-2605694.jpg" type="image">
            </div>
        </div>
        <div class="bottom text-center">
            <a id="scrollDownArrow" href="#ancre"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>

    <section id="ancre" class="ss-style-top"></section>

    <div class="container animated fadeIn">

    <div class="row">
        <h2 class="section-title"> Contact </h2>
        <div class="col-sm-12" id="parent">
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.479181372269!2d2.3504115156740353!3d48.84907227928652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671e4fa5fdbf9%3A0x5dcb5a09cff26472!2s11+Rue+de+Poissy%2C+75005+Paris!5e0!3m2!1sfr!2sfr!4v1511260203044"
                        width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-sm-6">
                <form action="index.php?section=contact" class="contact-form" method="post">

                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom*"
                               required="">
                        {% if errors.name is defined %}
                            <p class="errors">{{ errors.name }}</p>
                        {% endif %}
                    </div>


                    <div class="form-group form_left">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Votre email*"
                               required="">
                        {% if errors.email is defined %}
                            <p class="errors">{{ errors.email }}</p>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <select name="object" id="object">
                            <option value="Renseignement" selected>Je voudrais un renseignement</option>
                            <option value="Commande">Je voudrais passer une commande</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control textarea-contact" rows="5" id="message" name="message"
                                  placeholder="Votre message*" required=""></textarea>
                        {% if errors.message is defined %}
                            <p class="errors">{{ errors.message }}</p>
                        {% endif %}

                        <div class="g-recaptcha" data-sitekey="6LchSTsUAAAAAH13se_2kCGoPk5CchiNJIFzmPTr"></div>
                        <br>

                        <button class="btn btn-default btn-send"><span class="fa fa-paper-plane"></span> Envoyer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container second-portion">
    <div class="row">

    <!-- Boxes -->
    <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="box">
    <div class="icon">
    <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
    <div class="info">
    <h3 class="title">CONTACT</h3>
    {% for shopinfo in shopinfos %}
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp {{ shopinfo.email }}
            <br>
            <br>
            <i class="fa fa-phone" aria-hidden="true"></i> &nbsp {{ shopinfo.telephone }}
        </p>

        </div>
        </div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="info">
                        <h3 class="title">ADRESSE</h3>
                        <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp {{ shopinfo.address }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="info">
                        <h3 class="title">HORAIRES</h3>
                        <p>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ shopinfo.hours }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>

<<<<<<< HEAD
=======
        <div>
            <p class="text-center cnil">*Les informations recueillies sur ce formulaire ne sont pas enregistrées et sont destinées uniquement au traitement de votre message.

                Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant : Douceur Végétale, 11 rue de Poissy, 75005 Paris

                Nous vous informons de l’existence de la liste d'opposition au démarchage téléphonique « Bloctel », sur laquelle vous pouvez vous inscrire
                <a href="https://conso.bloctel.fr/">ici</a>.
            </p>
        </div>

>>>>>>> 6fa14822155dd1b7a544ad4c934e65fff7ed9809
        </div>
    {% endfor %}
{% endblock %}