{% extends "layout.html.twig" %}

    {% block image %}
        <img src="assets/img/banners/waffle.jpg" type="image">
    {% endblock image %}

{% block body %}

    <div class="container-fluid">

        <h2 id="ancre" class="section-title text-center">Nos Produits</h2>

        <div class="product-list">


            <div class="product-item big">
                <img class="img-responsive banner_sem" src="assets/img/produit_semaine.png"
                     alt="">
            </div>

            <!--Produit de la semaine - Image -->

            <div class="product-item big">
                <div class="hovereffect">

                    <img class="img-responsive image_prod_sem" src="{{ productWeek.url }}"
                         alt="Produit de la semaine">

                    <div class="overlay">

                        <h2>{{ productWeek.name }}</h2>
                        <p>{{ productWeek.description }}</p>

                    </div>
                </div>
            </div>


        </div>
        <div class="product-list product-list-regular">
            {% for product in products %}
                {% if product.categories_id != "1" %}
                    <div class="product-item ">
                        <div class="hovereffect">
                            <img class="img-responsive" src="{{ product.url }}">
                            <div class="overlay">
                                <h2>{{ product.name }}</h2>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>





{% endblock %}